// Colors
$primary-color-gray: #f0f0f4;
$background-color: #e9c111;
$text-color: #2c2b2b;
$console-color: #0f5b3f;
$result-color: #b91717;
$footer-color: #1c2942;
$var-color: #b00cd1;
$white-color: #fff;

// Font size
$header-font-size: clamp(1.8rem, 2vw + 1rem, 3rem);
$title-font-size: clamp(1.6rem, 2vw + 1rem, 2.2rem);
$subtitle-font-size: clamp(1.4rem, 1vw + 1rem, 2rem);
$text-font-size: clamp(1.2rem, 1vw + 1rem, 1.6rem);
$padding-alert: clamp(0.5rem, 0.3vw + 0.5rem, 1rem);

// Box model
$border-radius: 0.5rem;
$box-shadow: 0 2px 20px 0 rgb(0, 0, 0, 5%);
