@use "forward" as *;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

body {
  font-family: -apple-system, BlinkMacSystemFont, Inter, "Segoe UI", "Roboto", "Oxygen", "Cantarell", "Fira Sans",
    "Droid Sans", "Arial", sans-serif;
}
/* -------------- Grid container---------------------*/
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(6rem, auto) 1fr minmax(6rem, auto);
  grid-template-areas:
    "header"
    "main"
    "footer";
  row-gap: 2rem;
  min-height: 100%;
}
.header {
  display: grid;
  align-items: center;
  grid-area: header;
  background-color: $background-color;
  padding: 2rem;
  grid-template-columns: 1fr minmax(auto, 30rem) minmax(auto, 114rem) 1fr;
  &__title {
    grid-column: 2 / 3;
    color: $text-color;
    font-size: $header-font-size;
    font-weight: 600;
  }
}
.main {
  display: grid;
  grid-area: main;
  grid-template-columns: 1fr minmax(auto, 100rem) minmax(auto, 44rem) 1fr;
  column-gap: 1.5rem;
}
.content {
  grid-column: 2 / 3;
  &__sections {
    display: grid;
    row-gap: 2rem;
  }
  &__title {
    @extend %section-title;
  }
  @media screen and (max-width: 768px) {
    grid-column: 2 / 4;
  }
}
.navbar {
  grid-column: 3 / 4;
  padding: 1.5rem;
  &__column {
    position: sticky;
    top: 1.5rem;
  }
  &__menu-link {
    color: $text-color;
    font-size: 1.6rem;
    border-left: 0.1rem solid $text-color;
    padding: 0.7rem 1.2rem;
    display: block;
    &--active {
      border-left: 0.2rem solid $text-color;
      background-color: $background-color;
      font-weight: 600;
    }
  }
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.footer {
  display: grid;
  grid-area: footer;
  grid-template-columns: 1fr minmax(auto, 144rem) 1fr;
  column-gap: 1.5rem;
  background-color: $footer-color;
  place-items: center;
  &__content {
    grid-column: 2 / 3;
  }
  &__text {
    color: $white-color;
    font-size: $title-font-size;
  }
}
